.Lineup {
    width: 100%;
}

.Field {
    background: url(https://fantasy.premierleague.com/static/media/pitch-default.49da4402.svg) center center / 100% 156% no-repeat;
    background-size: cover;
}

.StartingPlayersWrapper {
    width: 92%;
    margin: auto;
}

.Bench {
    margin: auto;
    background-color: #f7f7f7;
}

.FieldBackground {
    background-color: #37003c;
}