th {
    top: 0; /* Don't forget this, required for the stickiness */
    background-color: #37003c!important;
}

.PlayersList{
    overflow-y: scroll;
    height: 100vh;
    max-height: 896px;
}

.PlayerDetails {
    display: inline-block;
    margin-left: 1rem;
}

.PlayerName {
    font-weight: 500;
}

.ShirtWrapper {
    display: inline-block;
}