.PlayersList{
    overflow-y: scroll;
    height: 100vh;
    max-height: 850px;
}

.PlayerDetails {
    display: inline-block;
    margin-left: 1rem;
}

.PlayerName {
    font-weight: 500;
}

.ShirtWrapper {
    display: inline-block;
    vertical-align:middle;
}