th {
    top: 0; /* Don't forget this, required for the stickiness */
    background-color: #37003c!important;
}

.PlayersList{
    overflow-y: scroll;
    height: 100vh;
    max-height: 896px;
}

.PlayerDetails {
    display: inline-block;
    margin-left: 1rem;
}

.PlayerName {
    font-weight: 500;
}

.ShirtWrapper {
    display: inline-block;
}

.PropertyButton {
    width: 80px;
    background-color: transparent;
    border: none;
    font: inherit;
    font-weight: 500;
    text-align: inherit;
}

.Ascending>button::after {
    content: '  ▲';
}

.Descending>button::after {
    content: '  ▼';
}